
<div fxLayout="column">    
<mat-card>
<div fxFlex>
  <button mat-raised-button color="primary" (click)="addButton()">افزودن آیتم</button>
  </div>
</mat-card>

<mat-accordion>

  <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
   <mat-panel-title >
  جستجوی دکمه ها
</mat-panel-title>
</mat-expansion-panel-header>
<div  fxLayoutGap="2%"  fxLayout="row wrap" fxFlex>
  <mat-form-field fxFlex="30">
   <input matInput  placeholder=" نام "  id="name"
   #name (input)="filterList(name)">
  </mat-form-field>

  <mat-form-field fxFlex="30">
   <input matInput  placeholder="  صف "  #queue id="queue_name" (input)="filterList(queue)">
 </mat-form-field>
 </div>
</mat-expansion-panel>
</mat-accordion>


<div class="mat-elevation-z8">   

      <table mat-table [dataSource]="dataSource" class="table">

        <ng-container matColumnDef="row">
          <th mat-header-cell *matHeaderCellDef  > ردیف </th>
          <td mat-cell *matCellDef="let element;let i=index"> {{ i+1 }} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef  > نام </th>
          <td mat-cell *matCellDef="let element"> {{element.name != '#no_answer_pause#' ? element.name :  'وقفه به دلیل عدم پاسخگویی'}} </td>
        </ng-container>

        <ng-container matColumnDef="color" >
          <th mat-header-cell *matHeaderCellDef > رنگ </th>
          <td mat-cell *matCellDef="let element">                         
          <h6 style="width:50%;height:10px;border:1px solid #000;" [style.background-color]="element.color" > </h6>
        </td>
        </ng-container>
    
        <ng-container matColumnDef="queue_name">
          <th mat-header-cell *matHeaderCellDef > صف </th>
          <td mat-cell *matCellDef="let element"> {{element.queue_name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef > توضیحات </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>       

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef > عملیات </th>
          <td mat-cell *matCellDef="let element"> 
            <div fxLayout="row" fxLayoutGap="2%">
          <mat-icon [ngStyle]="{'color':'red','cursor':'pointer'}"
          (click)="deleteRowConfirm(element)" >delete</mat-icon>
          <mat-icon style="cursor: pointer;" (click)="editButton(element)">edit</mat-icon>
        </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>      
    <div >
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons  fxLayoutAlign="center center" fxFill></mat-paginator>
      </div>
    </div>
    </div>
  <ng-template ngxDeleteConfirm></ng-template> 