mat-card {
    color:white;
    background-color: #495464 !important;
    border-radius: 0px !important;
}

button {
    color:white;
    font-size: medium;
    font-weight: bolder;
    background-color: #495464 !important;
}

.mat-icon {
color:white; 
}