
<body>
  <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" style="height: 50px;" >    
    <label style="font-size: small;font-weight: 800;color: aliceblue;"> {{ (toDaysName | daysofweek) }}</label>
    <label style="font-size: small;font-weight: 800;color: aliceblue;"> {{ (toDaysDate | jalali)  }} </label>
    <label style="font-size: small;font-weight: 800;color: aliceblue;">نسخه 2 </label>
  </span>
<div fxLayout="row" fxLayoutAlign="center center" class="slide-up" >

<form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" >
  <mat-card>
    <div fxLayout="column">
   
      <mat-form-field >
      <input type="text" class="mat-input-wrapper" matInput [ngStyle]="{'text-align': 'left'}" [formControl]="loginForm.controls['username']" placeholder="نام کاربری" >
      <mat-error  *ngIf="loginForm.controls['username'].hasError('required')">
        وارد کردن نام کاربری اجبای است</mat-error>
      </mat-form-field>

      <mat-form-field >
      <input type="password" matInput [ngStyle]="{'text-align': 'left'}" [formControl]="loginForm.controls['password']" placeholder="رمز عبور" >
      <mat-error  *ngIf="loginForm.controls['password'].hasError('required')">
        وارد کردن رمز عبور اجبای است</mat-error>
      </mat-form-field>
      <br/>
    <button mat-raised-button color="primary" [disabled]="wait"  type="submit">
     
     <i *ngIf="!wait">ورود</i>
     <i *ngIf="wait">در حال ورود ...</i>
    </button>
  </div>
  </mat-card>
</form>



</div>

</body>