<mat-card fxLayout="row">
  <div fxLayout="row" fxFlex>
    <button mat-button [routerLink]="['dashboard']">
      <mat-icon>dashboard</mat-icon> داشبورد
    </button>
    <button mat-button [matMenuTriggerFor]="managementMenu" style="font-size: medium;font-weight: bolder">
      <mat-icon>perm_data_setting</mat-icon> مدیریت
    </button>
    <mat-menu #managementMenu="matMenu">
      <button mat-menu-item [routerLink]="['users']">
        <mat-icon>supervised_user_circle</mat-icon>ایجنت ها
      </button>
      <button mat-menu-item [routerLink]="['buttons']">
        <mat-icon>list</mat-icon>دکمه ها
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="historyMenu">
      <mat-icon>history</mat-icon> تاریخچه
    </button>
    <mat-menu #historyMenu="matMenu">
      <button mat-menu-item [routerLink]="['agents-calls-history']">
        <mat-icon> call</mat-icon> تماس ایحنت ها
      </button>
      <button mat-menu-item [routerLink]="['agents-activities-history']">
        <mat-icon> business</mat-icon> فعالیت ایجنت ها
      </button>
    </mat-menu>
    <button mat-button [routerLink]="['wallboard']">
      <mat-icon>wallpaper</mat-icon> والبورد
    </button>
  </div>



  <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="end end" fxFlex>
    <button mat-button [matMenuTriggerFor]="" style="font-size: small;font-weight: bolder;"> نسخه ۲ </button>
    <button mat-button [matMenuTriggerFor]="userMenu" style="font-size: medium;font-weight: bolder;">
      <mat-icon>power_settings_new</mat-icon> کاربر : {{fullName}}
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>خروج
      </button>
    </mat-menu>

  </div>

</mat-card>