<div fxLayout="column" >
  <mat-accordion>
      <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
              <mat-panel-title>
                  جستجوی تاریخچه فعالیت کاربران
              </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="column" fxFlex>
              <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex>
                  <mat-select placeholder="انتخاب صف" [(ngModel)]="selectedQueue">
                    <mat-option [value]="null">--</mat-option>
                      <mat-option *ngFor="let queues of queuesToshow" [value]="queues">
                          {{queues}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>  
                
                      <mat-form-field fxFlex>
                          <input matInput [matDatepicker]="picker" readonly placeholder="از تاریخ" [(ngModel)]="fromDate">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field fxFlex="10" *ngIf="fromHour.value">
                          <mat-select placeholder="دقیقه" [(ngModel)]="fromMinTime">
                            <mat-option [value]="null">--</mat-option>
                              <mat-option *ngFor="let min of minutes" [value]="min > 9 ? min : '0' + min">{{min > 9 ? min : '0' + min }}</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field fxFlex="10">
                          <mat-select placeholder="ساعت" [(ngModel)]="fromHourTime" #fromHour>
                            <mat-option [value]="null">--</mat-option>
                              <mat-option *ngFor="let hour of hours" [value]="hour > 9 ? hour : '0' + hour">{{hour > 9 ? hour : '0' + hour}}</mat-option>
                          </mat-select>
                      </mat-form-field>

                 
                      <mat-form-field fxFlex>
                          <input matInput [matDatepicker]="picker2" readonly placeholder="تا تاریخ" [(ngModel)]="toDate">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>

                      </mat-form-field>

                      <mat-form-field fxFlex="10" *ngIf="toHour.value">
                          <mat-select placeholder="دقیقه" [(ngModel)]="toMinTime">
                            <mat-option [value]="null">--</mat-option>
                              <mat-option *ngFor="let min of minutes" [value]="min > 9 ? min : '0' + min">{{min > 9 ? min : '0' + min }}</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field fxFlex="10">
                          <mat-select placeholder="ساعت" [(ngModel)]="toHourTime" #toHour>
                            <mat-option [value]="null">--</mat-option>
                              <mat-option *ngFor="let hour of hours" [value]="hour > 9 ? hour : '0' + hour">{{hour > 9 ? hour : '0' + hour}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                       </div>

              <div fxLayout="row" fxLayoutGap="10px" fxFlex>
            
             <div fxLayout="row" fxLayoutGap="20px">
                <mat-form-field  fxFlex="85" *ngIf="minlenHour.value">
                  <mat-select placeholder="دقیقه (حداقل مدت زمان)" [(ngModel)]="minLengthMin">
                    <mat-option [value]="null">--</mat-option>
                      <mat-option *ngFor="let min of minutes" [value]="min > 9 ? min : '0' + min">{{min > 9 ? min : '0' + min }}</mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="85">
                  <mat-select placeholder="ساعت (حداقل مدت زمان)" [(ngModel)]="minLengthHour" #minlenHour>
                    <mat-option [value]="null">--</mat-option>
                      <mat-option *ngFor="let hour of hours" [value]="hour > 9 ? hour : '0' + hour">{{hour > 9 ? hour : '0' + hour}}</mat-option>
                  </mat-select>
              </mat-form-field>
             </div>
               
              <div fxLayout="row"  fxLayoutGap="20px">
                <mat-form-field fxFlex="85" *ngIf="maxLenHour.value">
                  <mat-select placeholder="دقیقه (حداکثر مدت زمان)" [(ngModel)]="maxLengthMin">
                    <mat-option [value]="null">--</mat-option>
                      <mat-option *ngFor="let min of minutes" [value]="min > 9 ? min : '0' + min">{{min > 9 ? min : '0' + min }}</mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="85">
                  <mat-select placeholder="ساعت (حداکثر مدت زمان)" [(ngModel)]="maxLengthHour" #maxLenHour>
                    <mat-option [value]="null">--</mat-option>
                      <mat-option *ngFor="let hour of hours" [value]="hour > 9 ? hour : '0' + hour">{{hour > 9 ? hour : '0' + hour}}</mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="end end" fxFlex fxLayouGap="20px">
          
            <div fxFlex>
                <button mat-raised-button color="primary" (click)="search()" >جستجو</button>
            </div>
        </div>
              </div>
             
          </div>
      </mat-expansion-panel>
  </mat-accordion>
  
    <mahan-export-report [url]="exportFileString" [fileName]="'گزارش-فعالیت-کاربران'" fxLayoutAlign="end end"></mahan-export-report>
 


  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" class="table">

      <ng-container matColumnDef="row">
        <th mat-header-cell *matHeaderCellDef> ردیف </th>
        <td mat-cell *matCellDef="let element;let i=index"> {{i + 1 }} </td>
      </ng-container>


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> نام </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="queue_name">
        <th mat-header-cell *matHeaderCellDef> صف </th>
        <td mat-cell *matCellDef="let element">
          {{element.queue_name}}
        </td>
      </ng-container>

      <ng-container matColumnDef="activity">
        <th mat-header-cell *matHeaderCellDef> فعالیت </th>
        <td mat-cell *matCellDef="let element"> {{element.activity}} </td>
      </ng-container>

      <ng-container matColumnDef="started_at">
        <th mat-header-cell *matHeaderCellDef> زمان شروع </th>
        <td mat-cell *matCellDef="let element"> {{element.started_at}} </td>
      </ng-container>


      <ng-container matColumnDef="ended_at">
        <th mat-header-cell *matHeaderCellDef> زمان پایان </th>
        <td mat-cell *matCellDef="let element"> {{element.ended_at}} </td>
      </ng-container>

      <ng-container matColumnDef="length">
        <th mat-header-cell *matHeaderCellDef> مدت زمان </th>
        <td mat-cell *matCellDef="let element"> {{element.length}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-card>
      <div style="text-align: center;">
        <label> شماره صفحه :</label>&nbsp;&nbsp;
        <span class="dot" style="font-weight: bolder;
      font-family: 'Times New Roman', Times, serif;
      font-size: larger;">{{current_page}}</span>
      &nbsp;&nbsp;  &nbsp;&nbsp;
      <label> تعداد کل صفحات :</label>&nbsp;&nbsp;
       <span class="dot" style="font-weight: bolder;
       font-family: 'Times New Roman', Times, serif;
       font-size: larger;">{{totalPages}}</span>
      </div><br />
      <div style=" text-align: center;">
        <button mat-raised-button color="primary" (click)="firstPage()" [ngStyle]="{'width': width}"  [disabled]="current_page == 1">صفحه
          اول</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="prevPage()" [ngStyle]="{'width': width}"  [disabled]="current_page == 1">صفحه
          قبلی</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="nextPage()" [ngStyle]="{'width': width}" [disabled]="current_page == totalPages">صفحه
          بعدی</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="lastPage()" [ngStyle]="{'width': width}" [disabled]="current_page == totalPages">صفحه آخر</button>
      </div>
    </mat-card>
  </div>
</div>