
      <div fxLayout="column" >      
      <mat-card fxFlex> 
      <div fxLayout="row" fxLayoutGap="30px">
      
        <button mat-raised-button color="primary" (click)="addUser()" >افزودن کاربر</button>
        </div>       
      </mat-card>

      <mat-accordion >

        <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
         <mat-panel-title><br/>
        جستجوی کاربران
      </mat-panel-title>
      </mat-expansion-panel-header>
      <div  fxLayout="column">
      <div  fxLayoutGap="2%" fxLayoutAlign="center center"  fxLayout="row wrap" fxFlex>
        <mat-form-field fxFlex>
    
         <input matInput  placeholder=" نام"  
         #name (input)="filterList(name)" id="first_name">
        </mat-form-field>
   
        <mat-form-field fxFlex>
         <input matInput  placeholder="  نام خانوادگی"  #lastName (input)="filterList(lastName)" id="last_name">
       </mat-form-field>
   
       <mat-form-field fxFlex>
         <input matInput  placeholder=" داخلی" #internal (input)="filterList(internal)" id="members">
       </mat-form-field>
          </div>
       <div  fxLayoutGap="2%" fxLayoutAlign="center center" fxLayout="row wrap" fxFlex>
       <mat-form-field fxFlex>
         <input matInput  placeholder=" موبایل" #mobile (input)="filterList(mobile)" id="mobile">
       </mat-form-field>
      
       <mat-form-field fxFlex>
         <input matInput  placeholder=" ایمیل" #email (input)="filterList(email)" id="email">
       </mat-form-field>
   
       <mat-form-field fxFlex>
         <input matInput  placeholder=" صف" #queue (input)="filterList(queue)" id="queues">
       </mat-form-field>
        </div>    
        </div>    
      </mat-expansion-panel>

      </mat-accordion>

      <mahan-export-report [url]="'api/users?'" [fileName]="'لیست-کاریران'" fxFlex fxLayoutAlign="end end"></mahan-export-report>             
    <div class="mat-elevation-z8" >       

      <table mat-table [dataSource]="dataSource" class="table">

        <ng-container matColumnDef="row">
          <th mat-header-cell *matHeaderCellDef  > ردیف </th>
          <td mat-cell *matCellDef="let element;let i=index"> {{ i+1 }} </td>
        </ng-container>


        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef> نام </th>
          <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
        </ng-container>

        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef> نام خانوادگی </th>
          <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="members">
          <th mat-header-cell *matHeaderCellDef> داخلی </th>
          <td mat-cell *matCellDef="let element"> {{element.members}} </td>
        </ng-container>
    
        <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef> موبایل </th>
          <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> ایمیل </th>
          <td mat-cell *matCellDef="let element" > {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="queues" >
          <th mat-header-cell *matHeaderCellDef> صف </th>
          <td mat-cell *matCellDef="let element"> {{element.queues}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> عملیات </th>
          <td mat-cell *matCellDef="let element"> 
            <div fxLayout="row" fxLayoutGap="2%">
          <mat-icon [ngStyle]="{'color':'red','cursor':'pointer'}"
          (click)="userDeleteConfirm(element)" >delete</mat-icon>
          <mat-icon style="cursor: pointer;" (click)="addUser(element)">edit</mat-icon>
        </div>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    <div  #paginator>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons  fxLayoutAlign="center center" fxFill></mat-paginator>
      </div>
      </div>
    </div>
<ng-template ngxDeleteConfirm></ng-template>

