
.backdrop {
  position: fixed;
  left: 0;
  top:0;
  width: 100vw;
  height: 120vh;
  background: rgba(156, 144, 144, 0.75);
  z-index: 50;  
  text-align: right;
  
}


.alert-box {
  position: fixed;
  top:0vh;
  height: 100%;
  left:0;
  width: 100%;
  padding: 16px;
  z-index: 100;
  background:white;
  box-shadow: 02px 8px rgba(0,0,0,0.25);  
  overflow: auto;
 
}

.alert-box-action {
  text-align: right;     
}

.cardclass{
  text-align: right;
  overflow:auto; 

      
}

  .parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
 

.child {
  width: 380px;
  margin: 10px;     
}


  .cardchild {
    width: 15vw;  
    margin: 8px;      
}

.detailcard {
 direction: ltr;
 width: 100%;
 height: 15vh;
 border-radius: 3px;
 border-style: solid;
 text-align: center; 
 background-color: lightgreen;
 border-color: black;
 border-width: 2px; 
 margin: 10px; 
 cursor: pointer;
}

.carddetailparent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  direction: ltr; 

}

.card{
  direction: ltr;    
}

.valuefont {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.1vw;;
  font-weight: 910;  

}

.titlefont {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.4vw;;
  font-weight: 910;  

}


.zoom {
  transition: transform .2s; 
  cursor: pointer;
}

.zoom:hover {
  transform: scale(1.2); 
}


.hr {
  color: blueviolet;
  border-color: black;    
}


#fullscreen {
  width: 100%;
  height: 100vh;
  top: 0;
}



