<div class="backdrop">
<div class="alert-box">   
  <mat-card id="fullscreen">
    <div fxLayout="column" fxLayoutGap="20px">  
      <div fxLayoutAlign="end end">
      <button mat-raised-button color="primary" (click)="return()">
          بازگشت
      </button>
      </div>
      <mat-card *ngFor="let queues of Queue;let i=index" > 
       <mat-card-title *ngIf="allowedList.includes(queues['Queue'])" >
        <i class="titlefont" [ngStyle]="{'color':'brown'}">{{'صف:' + queues['Queue']}}</i>        
       </mat-card-title>
        <br/>
    <div  class="carddetailparent" style="min-height: 100px;">
        <br/> <br/>
         <div *ngFor="let tiles of queues | keyvalue"> 
           <div  class="cardchild" *ngIf="tiles.key != 'Queue' && visibilitySettingsParser(queues['Queue'],tiles.key)" >
         <div class="detailcard "  *ngIf="allowedList.includes(queues['Queue']) " 
         [ngStyle]="{'background-color':colorsSettingsParser(queues['Queue'],tiles.key,tiles.value) , 'color': colorsSettingsParser(queues['Queue'],tiles.key,tiles.value)!='red' ? 'black' : 'palegoldenrod'}"  >
        
            <div class="parent" >   
              <div class="child" >
                <i class="titlefont">{{tiles.key}}</i>
                <hr class="hr"/> 
              </div>  
              <div class="child" > 
              <i class="valuefont">{{tiles.value}}</i>
              </div>                               
            </div>   
            </div>     
          </div>        
      </div>   
      </div>
    </mat-card>
    
    </div>
    </mat-card>
   
  </div>   
</div>
  