.backdrop {
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.75);
  z-index: 50;
}

.classButton{
  background-color: red;
}

.alert-box {
  position: fixed;
  top:20vh;
  padding: 16px;
  z-index: 100;
  background:white;
  text-align: center;
  box-shadow: 02px 8px rgba(0,0,0,0.25);
  background-color: #e8e8e8 !important;
}

.alert-box-action {
  text-align: right;
  text-align: center;
}

.cardclass{
  height: 50px;
}
