
::ng-deep  body {

        background-color: #f4f4f2 !important;
        font-family: Sahel !important; 
}


::ng-deep table  {

        background-color: #e8e8e8 !important;
}

::ng-deep mat-paginator  {

        background-color: #e8e8e8 !important;
}

::ng-deep  mat-card  {

        background-color: #e8e8e8 !important;
}

::ng-deep  input {
        background-color: #e8e8e8 !important;       
    }




::ng-deep mat-expansion-panel {
        background-color: #e8e8e8 !important;
}

::ng-deep .mat-menu-content {
        background-color:#495464;
      }



  ::ng-deep button mat-panel-title input label th {   
         font-family: Sahel !important;    
 }












