
.backdrop {
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 120vh;
  background: rgba(0,0,0,0.75);
  z-index: 50;  
  text-align: right;
  
}



.classButton{
  background-color: red;
}

.alert-box { 
  position: fixed;
  top:15vh;
  padding: 16px;
  z-index: 100;
  background:white;
  box-shadow: 02px 8px rgba(0,0,0,0.25);  
  overflow: auto;
  background-color: #e8e8e8 !important;
  
 
}

.alert-box-action {
  text-align: right;     
}

.cardclass{
  text-align: right;
  overflow:auto; 

      
}



  .parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .child {
    width: 380px;
    margin: 10px;    
  }



  




  

 

  