#container {
   height: 140px ;
   width: 330px;
   border-color: black;
   border-style: solid;
   border-width: 1px;
}


.circle {
   border-radius: 70%;
   width: 70px !important;
   height: 70px !important;  
   border-style: solid;
   border-width: 2px;
   background-color: blanchedalmond;
   font-weight: 400;
   font-size: x-large;
   overflow:hidden;
   white-space: nowrap;
   text-overflow: ellipsis; 
   margin: 2px;
  
  }


  mat-card {
     margin-bottom: 20px !important;     
  }


span {
   flex-direction: row;
}
  